{% extends "master_page.html" %}
{% block style %}
<style>
    body {
        background-color: #001f3d
    }
</style>
{% endblock %}
{% block content %}
<h1 style="color:white; text-align:center;">
    The Problem
</h1>
<div>
    <div style="justify-content:center; background-color:peachpuff">
        <div class="case" style="display: inline-block; margin-right: 100px; margin-left: 100px; margin-top: 5%; margin-bottom: 5%;">
            <img style="display:block; margin-left:auto; margin-right:auto;" src="https://www.pcsb.org/cms/lib/FL01903687/Centricity/Domain/2390/Title%201%20logo.png" alt="">
            <p>
                Title I was created in order to give less-privileged schools without adequate resources for educating students a chance to meet ends and give students the proper chance at education that they deserve. Unfortunately, the system has been abused by many schools across the country that are not of first priority to get such grants. Therefore, there are a great deal of spending inequalities to where the schools that really need the extra funding are not getting the help that the system was built for. The goal of our project is to create a website/system to where schools in need of Title I grants can get them more efficiently by entering all of the needed information for such a grant, while filtering out schools that already have adequate funding.
            </p>
            <a href="/" style=" background-color: #001f3d; top: 15%; position: absolute; right: 48%; left: 48%;" class="pure-button pure-button-primary">Home</a>
            <a href="/charts_and_graphs" style=" background-color: #001f3d; bottom: 37%; position: absolute; right: 45%; left: 45%;" class="pure-button pure-button-primary">Charts and Graphs</a>
        </div>
    </div>
</div>
{% endblock %}