<!DOCTYPE html>
<html>
	<head>
		<title>
			KNN Model Prediction
		</title>
	</head>
	<body>
		<form method = "POST">
			<input type="text", name= "State", placeholder="Enter School State"/><br>
			<input type="text", name= "Locale", placeholder="Enter Locale Info"/><br>
			<input type="text", name= "Total", placeholder="Enter Total Students"/><br>
			<input type="text", name= "Asian", placeholder="Enter Asian Student Population"/><br>
			<input type="text", name= "Hispanic", placeholder="Enter Hispanic Student Population"/><br>
			<input type="text", name= "Black", placeholder="Enter Black Student Population"/><br>
			<input type="text", name= "White", placeholder="Enter White Student Population"/><br>
			<input type="text", name= "Hawaiian", placeholder="Enter Hawaiian Student Population"/><br>
			<input type="text", name= "Mixed", placeholder="Enter Two or more Races Student Population"/><br>
			<input type="Submit", value="Submit"/><br>
		</form>
		<p>
			The prediction is {{ predicted }}
		</p>
	</body>	
</html>