<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .case {
            border: 1px solid;
            padding: 10px;
            box-shadow: 0px 0px 0.25em inset;
            background-color: rgb(128 128 128 / 0.20);
        }

    </style>
    <meta charset="utf-8" />
    <title>Title I Funding - Eligibility Predictor </title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>